ul.is-style-hearts {
	list-style-type: '♥';
}
ul.is-style-hearts li {
	padding-left: 10px;
}
ul.is-style-hearts li::marker {
	color: var(--wp--preset--color--primary);
}

ol.is-style-hearts li {
	padding-left: 15px;
}
ol.is-style-hearts li::marker {
	content: counter(list-item) '♥';
	color: var(--wp--preset--color--primary);
	font-weight: bold;
}
